.root{
  display: table;
    width: 50%;
    justify-content: center;
    margin: auto;
}

div.user{
display: inline-table;
    width: 30%;
    height: 370px;
    padding: 0px;
    margin-right: 20%;
	background: red; 
	background: -webkit-linear-gradient(left top, #043B6B, green); 
	background: -o-linear-gradient(bottom right, #043B6B, green);
	background: -moz-linear-gradient(bottom right, #043B6B, green); 
	background: linear-gradient(to bottom right, #043B6B, green); 

}
	form{
	
	}
	h3.login_page{
		color: #FFFFF6;
		text-align: center;
	}

	input[type="text"] {
		display: block;
		margin : 0 auto;
	}

	input[type="submit"] {
	
		margin-left: 10%;
		margin-top: 5%;
	}


	input[type="password"] {
		display: block;
		margin : 0 auto;
		margin-top: 5px;
	}

	p.user{
		text-align: center;
	}

div.todo{
	width: 10%;
	border: 1px solid black;
	padding-left: 10px;
	background: red; 
	background: -webkit-linear-gradient(left top,  white, black); 
	background: -o-linear-gradient(bottom right,  white, black); 
	background: -moz-linear-gradient(bottom right, white, black); 
	background: linear-gradient(to bottom right, white, black);
	
}
	button.submit{
		margin-top: 5px;
		margin-bottom: 5px;
	}







